{% extends 'base.html' %}
<title>{% block title %}Log In{% endblock %}</title>
{% block body %}

<section class="main-container col1-layout">
    <div class="main container">
      <div class="account-login">
        <div class="page-title">
          <h2>Login Account</h2>
        </div>
        <fieldset>
          <div class="registered-users"><strong>Registered Customers</strong>
            {% if messages %}
                  <ul class="messages">
                      {% for message in messages %}
                        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                      {% endfor %}
                  </ul>
            {% endif %}
            <form method="POST">
              {% csrf_token %}
            <div class="content">
              <p>If you have an account with us, please log in.</p>
              <ul class="form-list">
               
                <li>
                  <label for="username">Username <span class="required">*</span></label>
                  <input type="text" title="username" class="input-text required-entry" id="username" value="" name="username">
                </li>
                <li>
                  <label for="pass">Password <span class="required">*</span></label>
                  <input type="password" title="Password" id="pass" class="input-text required-entry validate-password" name="password">
                </li>
                
              </ul>
              <p class="required">* Required Fields</p>
              <div class="buttons-set">
                <button id="send2" name="send" type="submit" class="button login"><span>Login</span></button>
                <a class="forgot-word" href="forgot-password.html">Forgot Your Password?</a> </div>
            </div>
            </form>
          </div>
        </fieldset>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
  </section>
  
  {% endblock %}